<h3>Two Factor Authentication</h3>
<form method="post" asp-controller="Account" asp-action="Authorize">
    <div class="mb-3 form-group">
        <label>Input security code</label>
        <input class="form-control" name="inputCode" />
    </div>
    <div class="mb-3 form-group"> <button type="submit" class="btn btn-primary btn-block btn-large">Send</button></div>
</form>
<p>@ViewBag.error</p>
